*.zip
local/**/*.zip

# files produced by gradle
/**/.gradle
/**/build

# Intelij IDEA files
.idea/

# generated SSL certificates
nginx-selfsigned.crt
nginx-selfsigned.key

# generated go subscriber server
modules/subscriber/server